<div id="grid">

  <div class="float-start border w-50" *ngFor="let tempFoodItem of foodItems">

    <div class="float-start m-3">
      <a routerLink="/foodItems/{{tempFoodItem.id}}">
        <img src="{{tempFoodItem.imageUrl}}" height="400" width="275" />
      </a>
    </div>

    <div class="m-3">
      <a class="removeLine hoverOver" routerLink="/foodItems/{{tempFoodItem.id}}">
        <h3>{{ tempFoodItem.name}}: ${{tempFoodItem.price}}</h3>
      </a>

      <button (click)="addToCart(tempFoodItem)" type="button" [disabled]="disableInc" class="buttonClass">Add to Cart</button>
      <a class="text-danger ms-3">{{msg}}</a>
    </div>

  </div>

  <div class="float-start w-100 ">
    <ngb-pagination [(page)]="thePageNumber"
                    [pageSize]="thePageSize"
                    [collectionSize]="theTotalElements"
                    (pageChange)="listFoodItems()">

    </ngb-pagination>
  </div>

</div>
