<div class="m-3">
  <h3>Welcome {{account.firstName}} {{account.lastName}}</h3>

  <!--
  <ul>
    <li>{{account.firstName}}</li>
    <li>{{account.lastName}}</li>
    <li>{{account.email}}</li>
  </ul>
  -->

  <a routerLink="/account-detail/{{account.id}}">View Account Details</a>

  <table class="table">
    <thead>
      <tr >
        <th >Order Number</th>
        <th >Total Quantity</th>
        <th >Total Price</th>
        <th >Date</th>
        <th ></th>
      </tr>
    </thead>

    <tbody>
      <tr  *ngFor="let tempOrder of orders">
        <td >{{tempOrder.id}}</td>
        <td >{{tempOrder.totalQuantity}}</td>
        <td >${{tempOrder.totalPrice}}</td>
        <td >{{tempOrder.dateCreated | date: 'medium'}}</td>
        <td routerLink="/orderDetails/{{tempOrder.id}}" class="hoverOver" >View Order Items</td>
      </tr>
    </tbody>
  </table>


  <ngb-pagination [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  (pageChange)="getOrderDataByAccountId()">

  </ngb-pagination>

</div>
